.sales-add-form {
    display: flex;
    justify-content: space-around;
    margin: 20px 40px;
}

.customer {
    border-right: 1px solid #c3c3c3;
}

.customer {
    padding-right: 40px;
}

.product {
    padding-left: 40px;
}

.subCaption {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    font-size: 20px;
}

.customer-details {
    width: 400px;
    margin-bottom: 20px;
}

.customer-details label {
    display: block;
    margin-bottom: 5px;
    font-size: 15px;
}

.addCusBtn {
    background-color: transparent;
    border: none;
}

.payment-form{
    margin-bottom: 40px;
}

.amount-group,
.sales-person,
.payment-details {
    display: flex;
    margin-bottom: 15px;
}

#label {
    width: 250px;
    padding: 5px 10px;
    margin: 0 10px;
}

#readOnly{
    background-color: #dedede;
}

.payment-details-amount {
    display: inline-flex;
    justify-content: center;
}

.payment-details-amount input {
    width: 20px;
}

.payment-form-group {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    padding: 20px;
    border-top: 1px solid #d5d5d5;
}

.amount-box,
.payment-details-box,
.sales-person-box{
    width: 100%;
}

