header {
  width: 100%;
  padding: 10px;
  background-color: #6c757d; /* keeping the background consistent */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  height: 32px;
  width: 32px;
  margin-right: 10px;
}

header h1 {
  font-size: 1.5rem; /* Adjust for responsiveness */
  margin: 0;
}

header .trial-message {
  flex-grow: 1;
  text-align: center;
  font-size: 1rem;
  color: white;
}

header button {
  font-size: 1rem;
}

@media (max-width: 768px) {
  header h1 {
    font-size: 1.25rem;
  }
  
  header .trial-message {
    font-size: 0.9rem; /* Decrease font size */
    margin-right: 10px;
  }
  
  header img {
    display: none; /* Hide logo on smaller screens */
  }
  
  header button {
    font-size: 0.875rem; /* Make button smaller */
  }
}

@media (max-width: 500px) {
  header .trial-message {
    display: none; /* Hide trial message on small screens */
  }
  
  header button {
    font-size: 0.75rem; /* Make button smaller */
  }
}
