.bg-color {
  background: linear-gradient(rgb(255, 216, 126), rgb(255, 255, 255));
}

.sidebar {
   
  top: 0;
  left: 0;
  height: 100vh;
  width: 250px;
  overflow-y: auto;
}

.nav-link {
  font-weight: 200;
  color: #222;
}

.nav-link:hover {
  font-weight: 200;
  color: rgb(64, 64, 64);
}

@media (max-width: 768px) {
  .menu-link {
    display: none;
  }

  .nav-item {
    font-size: 10px;
  }
  .nav-link {
    padding: 0.5rem 1rem;
    text-align: center;
  }
}
