.bg-color {
  background: #cecdcd;
}

.nav-link {
  font-weight: 500;
  color: #222;
}

.nav-link:hover {
  font-weight: 500;
  color: rgb(64, 64, 64);
}

@media (max-width: 768px) {

  /* .sidebar {
      width: 100px !important;
    } */
  .menu-link {
    display: none;
  }

  .nav-item{
    font-size: 10px;
  }
   .nav-link {
    padding: 0.5rem 1rem;
    text-align: center;
  }
}